.borderHead{ 
    border: 1px groove rgb(226, 12, 12);
    background:white;
}
.header{
    color: rgb(30, 116, 48); 
    font-size: 40px;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    font-style: italic;
 }
 @media screen and (max-width: 1450px){
    .header{
        color:red; 
        font-size: 0px;
     }  
 }
 .login{
     float: right;
     color: rgb(154, 79, 177); 
     font-size: 30px;
    margin-right: 80px;
 }
 .login:hover{
     cursor: pointer;
 }
 
 .signup{
     float: right;
     color: rgb(5, 5, 143); 
     font-size: 30px;
     margin-right:150px ;
 }
 .signup:hover{
     cursor: pointer;
 }

 .logo{
    margin-left: 10px;
 }
 @media screen and (max-width: 1450px){
     .logo{
         width: 180px;
         margin-left: 0px;
     }
     .login{
         font-size: 18px;
         padding: 3px;
         margin-left: 10px;
     }
     .signup{
        font-size: 0px;
        
     }
 }
 




 .footerContent{
     
    position: fixed;
    margin-left: 300px;
    font-size: 20px;
    bottom: 0;
    
}