
.loginForm{
    max-width: 350px;
    /* text-align: center; */
    font-size: 20px;
    margin-left: 550px;
    background:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.signupForm{
    max-width: 300px;
    /* text-align: center; */
    font-size: 20px;
    margin-left: 550px;
    border:transparent;
    background:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 1450px){
    .signupForm{
        font-size: 20px;
        margin-top: 50px;
margin-left: 100px;
    }
    .loginForm{
        font-size: 20px;
        margin-top: 50px;
margin-left: 0px;
    }
    input{
        font-size: 20px;
    }
}


.submit{
    background-color: #09e264;
    color: white;
    padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 17px;
}

.footerContent{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}