table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th,tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .AddItemForm{
    max-width: 500px;
    /* text-align: center; */
    font-size: 15px;
    margin-left: 550px;
    background:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.editForm{
  max-width: 500px;
  /* text-align: center; */
  font-size: 15px;
  margin-left: 550px;
  background:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.button1{
  background-color: rgb(73, 153, 219);
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  margin: 4px 2px;
}
.button2{
  background-color: rgb(35, 211, 29);
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  margin: 4px 2px;
}
