table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th,tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .AddItemForm{
    max-width: 350px;
    /* text-align: center; */
    font-size: 15px;
    margin-left: 550px;
    background:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.AddItemForm input[type=text],input[type=number],input[type=password], select {
  width: 75%;
  padding: 10px 20px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.editForm{
  max-width: 350px;
  /* text-align: center; */
  font-size: 15px;
  margin-left: 550px;
  background:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.editForm input[type=text],input[type=number],input[type=password], select {
  width: 75%;
  padding: 10px 20px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@media screen and (max-width: 950px){
  .AddItemForm{
    margin-left: 10px;
  }
  .editForm{
    margin-left: 10px;
  }
}
@media screen and (max-width: 500px){
  .chart{
    width: 20px;
  }
}

